<a href="#" class="mobile-filter">
	<i class="fa fa-sliders" aria-hidden="true"></i>
	<i class="fa fa-reply" aria-hidden="true"></i>
</a>
<form action="#" method="post" class="filter">
	<fieldset>
		<div class="choosed">
			<strong class="title">You choosed:</strong>
			<button type="reset">Clear all</button>
			<ul>
				<li><a href="#">For men<span></span></a></li>
				<li><a href="#">Gucci<span></span></a></li>
				<li><a href="#">Wooden<span></span></a></li>
			</ul>
		</div>
		<div class="filter-holder">
			<h4>Price filter</h4>
			<div class="slider-range">
				<input class="min" type="text" value="1940">
				<span>&mdash;</span>
				<input class="max" type="text" value="3685">
				<strong class="price"></strong>
				<div class="slider"></div>
			</div>
			<h4>Gender</h4>
			<div class="scroll">
				<div class="scroll-holder">
					<div class="scroll-frame">
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							For men (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							For women (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Unisex (67)
						</label>
					</div>
				</div>
			</div>
			<h4>Brands</h4>
			<input class="filter-input" type="text">
			<div class="scroll">
				<div class="scroll-holder">
					<div class="scroll-frame">
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							212 (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Adidas (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Agent 007 (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Baldosalini (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Burbderry (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input checked type="checkbox" name="" value="">
							Chanel (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Agent 007 (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Baldosalini (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							212 (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Adidas (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Agent 007 (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Baldosalini (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Burbderry (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Chanel (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Agent 007 (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Baldosalini (234)
						</label>
					</div>
				</div>
			</div>
			<h4>notes</h4>
			<input class="filter-input" type="text">
			<div class="scroll">
				<div class="scroll-holder">
					<div class="scroll-frame">
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Bergamot (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Jasmeen (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Oud (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Lavender (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Bergamot (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Jasmeen (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Oud (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Lavender (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Bergamot (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Jasmeen (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Oud (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Lavender (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Bergamot (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Jasmeen (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Oud (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Lavender (234)
						</label>
					</div>
				</div>
			</div>
			<h4>Quantity</h4>
			<div class="scroll">
				<div class="scroll-holder">
					<div class="scroll-frame">
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							30 ml (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							50 ml (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							100 ml007 (67)
						</label>
					</div>
				</div>
			</div>
			<h4>Parfume group</h4>
			<div class="scroll">
				<div class="scroll-holder">
					<div class="scroll-frame">
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Citrus (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Wooden (432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Fruit (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Hot (234)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Dark(432)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Light (67)
						</label>
						<label class="check-holder">
							<i class="fa fa-square-o" aria-hidden="true"></i>
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
							<input type="checkbox" name="" value="">
							Exotic (67)
						</label>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>