<div class="product-list view-list">
	<div class="item">
		<a href="#" class="visual"><img src="http://larose.az/new/images/gallery2/LR19941/1982.jpg" alt="image description" /></a>
		<div class="info">
			<span class="brand-name">Dolce &amp; Gabbana</span>
			<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
			<p>Experiencing Dark Aoud by Montale in its initial stages is akin to walking into a pitch-black room. Just as it takes a while for your eyes to adjust in order to discern the shapes, sizes, and nuances of the objects initially hidden in darkness, so too does it take time to realize that</p>
		</div>
		<footer>
			<div class="line">
				<div class="price-holder">
					<span class="discount">-15%</span>
					<span class="old">460</span>
					<strong class="price">358</strong>
				</div>
				<a href="#" class="button upper">BUY</a>
			</div>
			<div class="line">
				<a href="#" class="add"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</a>
				<div class="rating-holder">
					<select class="rating" data-readOnly="true">
						<option value="1">1</option>
						<option value="2">2</option>
						<option selected value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<a class="count-reviews" href="#">24 reviews</a>
				</div>
				<span class="id">ID <strong>9961234</strong></span>
			</div>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="http://larose.az/new/images/gallery2/LR13672/1981.jpg" alt="image description" /></a>
		<div class="info">
			<span class="brand-name">Dolce &amp; Gabbana</span>
			<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
			<p>Experiencing Dark Aoud by Montale in its initial stages is akin to walking into a pitch-black room. Just as it takes a while for your eyes to adjust in order to discern the shapes, sizes, and nuances of the objects initially hidden in darkness, so too does it take time to realize that</p>
		</div>
		<footer>
			<div class="line">
				<div class="price-holder">
					<span class="discount">-15%</span>
					<span class="old">460</span>
					<strong class="price">358</strong>
				</div>
				<a href="#" class="button upper">BUY</a>
			</div>
			<div class="line">
				<a href="#" class="add"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</a>
				<div class="rating-holder">
					<select class="rating" data-readOnly="true">
						<option value="1">1</option>
						<option value="2">2</option>
						<option selected value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<a class="count-reviews" href="#">24 reviews</a>
				</div>
				<span class="id">ID <strong>9961234</strong></span>
			</div>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="http://larose.az/new/images/gallery2/LR19939/1980.jpg" alt="image description" /></a>
		<div class="info">
			<span class="brand-name">Dolce &amp; Gabbana</span>
			<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water <br> Dahli Divine El Passo del Tracho</a></strong>
			<p>Experiencing Dark Aoud by Montale in its initial stages is akin to walking into a pitch-black room. Just as it takes a while for your eyes to adjust in order to discern the shapes, sizes, and nuances of the objects initially hidden in darkness, so too does it take time to realize that</p>
		</div>
		<footer>
			<div class="line">
				<div class="price-holder">
					<span class="discount">-15%</span>
					<span class="old">460</span>
					<strong class="price">358</strong>
				</div>
				<a href="#" class="button upper">BUY</a>
			</div>
			<div class="line">
				<a href="#" class="add"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</a>
				<div class="rating-holder">
					<select class="rating" data-readOnly="true">
						<option value="1">1</option>
						<option value="2">2</option>
						<option selected value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<a class="count-reviews" href="#">24 reviews</a>
				</div>
				<span class="id">ID <strong>9961234</strong></span>
			</div>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="http://larose.az/new/images/gallery2/LR19938/1979.jpg" alt="image description" /></a>
		<div class="info">
			<span class="brand-name">Dolce &amp; Gabbana</span>
			<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
			<p>Experiencing Dark Aoud by Montale in its initial stages is akin to walking into a pitch-black room. Just as it takes a while for your eyes to adjust in order to discern the shapes, sizes, and nuances of the objects initially hidden in darkness, so too does it take time to realize that</p>
		</div>
		<footer>
			<div class="line">
				<div class="price-holder">
					<span class="discount">-15%</span>
					<span class="old">460</span>
					<strong class="price">358</strong>
				</div>
				<a href="#" class="button upper">BUY</a>
			</div>
			<div class="line">
				<a href="#" class="add"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</a>
				<div class="rating-holder">
					<select class="rating" data-readOnly="true">
						<option value="1">1</option>
						<option value="2">2</option>
						<option selected value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<a class="count-reviews" href="#">24 reviews</a>
				</div>
				<span class="id">ID <strong>9961234</strong></span>
			</div>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="http://larose.az/new/images/gallery2/LR19937/1978.jpg" alt="image description" /></a>
		<div class="info">
			<span class="brand-name">Dolce &amp; Gabbana</span>
			<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
			<p>Experiencing Dark Aoud by Montale in its initial stages is akin to walking into a pitch-black room. Just as it takes a while for your eyes to adjust in order to discern the shapes, sizes, and nuances of the objects initially hidden in darkness, so too does it take time to realize that</p>
		</div>
		<footer>
			<div class="line">
				<div class="price-holder">
					<span class="discount">-15%</span>
					<span class="old">460</span>
					<strong class="price">358</strong>
				</div>
				<a href="#" class="button upper">BUY</a>
			</div>
			<div class="line">
				<a href="#" class="add"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</a>
				<div class="rating-holder">
					<select class="rating" data-readOnly="true">
						<option value="1">1</option>
						<option value="2">2</option>
						<option selected value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
					<a class="count-reviews" href="#">24 reviews</a>
				</div>
				<span class="id">ID <strong>9961234</strong></span>
			</div>
		</footer>
	</div>
</div>