<div class="product-list">
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option selected value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">24 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img02.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">156</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option selected value="5">5</option>
		</select>
		<a class="count-reviews" href="#">99 reviews</a>
		<footer>
			<a href="#" class="added favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img03.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water Dahli Divine El Passo del Tracho</a></strong>
		<strong class="price">16</strong>
		<select class="rating" data-readOnly="true">
			<option value=""></option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">0 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img04.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option selected value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">24 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option selected value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">24 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img02.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option selected value="5">5</option>
		</select>
		<a class="count-reviews" href="#">99 reviews</a>
		<footer>
			<a href="#" class="added favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img03.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water Dahli Divine El Passo del Tracho</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value=""></option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">0 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img04.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option selected value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">24 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
	<div class="item">
		<a href="#" class="visual"><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></a>
		<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
		<strong class="price">56</strong>
		<select class="rating" data-readOnly="true">
			<option value="1">1</option>
			<option value="2">2</option>
			<option selected value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<a class="count-reviews" href="#">24 reviews</a>
		<footer>
			<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
			<a href="#" class="button upper">BUY</a>
		</footer>
	</div>
</div>