<form action="#" method="post" class="sort">
	<fieldset>
		<strong class="title">Sort by:</strong>
		<ul class="sort-type">
			<li><a href="#">price<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></li>
			<li class="sorting_asc"><a href="#">popularity<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></li> <!-- sorting_desc -->
			<li><a href="#">name<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a></li>
		</ul>
		<strong class="title">Show on page:</strong>
		<select>
			<option>18</option>
			<option>40</option>
			<option>60</option>
			<option>80</option>
			<option>View all<i class="fa fa-caret-right" aria-hidden="true"></i></option>
		</select>
		<ul class="view">
			<li class="active"><a class="fa fa-th" aria-hidden="true" href="#"></a></li>
			<li><a class="fa fa-list" aria-hidden="true" href="#"></a></li>
		</ul>
	</fieldset>
</form>