<div class="bottom-info">
	<div class="container feed-block">
		<ul class="social-list">
			<li><a href="#" class="fa fa-facebook"></a></li>
			<li><a href="#" class="fa fa-instagram"></a></li>
			<li><a href="#" class="fa fa-twitter"></a></li>
			<li><a href="#" class="fa fa-google"></a></li>
		</ul>
		<form action="#" method="post" class="subscribe-form">
			<fieldset>
				<label>subscribe and get <b>15% discount</b></label>
				<div class="input-control">
					<input type="email" name="email" placeholder="Type your mail">
				</div>
				<button data-popup="on" data-href="_inc/subscribe.html" type="submit" class="button upper">subscribe</button>
			</fieldset>
		</form>
	</div>
	<div class="container size-medium">
		<h3><b>Perfumery in Baku, Azerbaijan</b></h3>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
		<p>Quis autem vel <br>eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		<ul class="list">
			<li>Nemo enim ipsam voluptatem</li>
			<li>Quia voluptas sit aspernatur aut </li>
			<li>Odit aut fugit, sed quia </li>
			<li>Consequuntur magni dolores </li>
			<li>Eos qui ratione voluptatem sequi nesciunt. </li>
		</ul>
		<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<div class="menu">
			<div class="col">
				<span class="title">Products<i class="fa fa-chevron-right"></i></span>
				<ul>
					<li><a href="#">Perfume</a></li>
					<li><a href="#">Perfume for women</a></li>
					<li><a href="#">Perfume for men</a></li>
					<li><a href="#">Unisex perfumes</a></li>
					<li><a href="#">All perfume brands</a></li>
				</ul>
			</div>
			<div class="col">
				<span class="title">SUPPORT<i class="fa fa-chevron-right"></i></span>
				<ul>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Free shipping</a></li>
					<li><a href="#">Safety payment</a></li>
					<li><a href="#">Original product</a></li>
					<li><a href="#">Cash on delivery</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<div class="col">
				<span class="title">ABOUT US<i class="fa fa-chevron-right"></i></span>
				<ul>
					<li><a href="#">About Aromania</a></li>
					<li><a href="#">Certificates</a></li>
					<li><a href="#">Mission and vision</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="col">
				<span class="title">USER PROFILE<i class="fa fa-chevron-right"></i></span>
				<ul>
					<li><a class="call-popup" href="ajax/login.html">Login</a></li>
					<li><a class="call-popup" href="ajax/registration.html">Register</a></li>
					<li><a href="#">Wishlist</a></li>
				</ul>
			</div>
			<div class="col">
				<span class="title">our COntacts<i class="fa fa-chevron-right"></i></span>
				<ul>
					<li><a href="tel:+994125053650" class="fa fa-phone">(+ 994 12) 505 36 50</a></li>
					<li><a href="whatsapp://send?text=Hello%20World!" class="fa fa-whatsapp">(+ 994 55) 859 77 77</a></li>
					<li><a href="mailto:sales@larose.az" class="fa fa-envelope">sales@larose.az</a></li>
					<li><a data-popup="on" class="fa fa-reply" href="_inc/callback.html">Call back</a></li>
				</ul>
			</div>
		</div>
		<strong class="logo"><a href="#">LaRose</a></strong>
		<div class="foot-bottom">
			<ul>
				<li><a href="#">Site Map</a></li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			<em class="copyright">Larose.az 2016 © All rigths reserved. Site created by <a href="#"><strong>ONE Studio</strong></a></em>
		</div>
	</div>
</footer>
<div class="quick-buttons">
	<a href="tel:+994125053650"><i class="fa fa-phone" aria-hidden="true"></i>Call now</a>
	<a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i>Viber now</a>
</div>