<div id="panel">
	<div class="container">
		<a href="#" class="mobile-menu"><span></span></a>
		<ul class="phones">
			<li><a href="tel:+994125057090"><i class="fa fa-phone" aria-hidden="true"></i>+994 12 505 70 90</a></li>
			<li><a href="tel:+994508906090"><i class="fa fa-whatsapp" aria-hidden="true"></i>+994 50 890 60 90</a></li>
			<li class="mobile-search"><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
		</ul>
		<div class="language">
			<span>Ru<i class="fa fa-caret-down" aria-hidden="true"></i></span>
			<ul>
				<li class="active"><a href="#">Ru</a></li>
				<li><a href="#">Az</a></li>
				<li><a href="#">En</a></li>
			</ul>
		</div>
		<ul class="panel-controls">
			<li><a data-popup="on" href="_inc/basket.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Basket <span>0</span></a></li>
			<li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>Favourites <span>0</span></a></li>
			<li><a data-popup="on" href="_inc/login.html"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
		</ul>
	</div>
</div>
<header id="header">
	<div class="container">
		<div class="holder">
			<a data-popup="on" href="_inc/filter.html" class="filter-button">Smart <br> Perfume Filter</a>
			<a href="#" class="search-button"><i class="fa fa-search" aria-hidden="true"></i>Search fregrance</a>
			<strong class="logo"><a href="#">Larose.az</a></strong>
		</div>
		<nav id="nav">
			<ul>
				<li><a href="#">men</a></li>
				<li><a href="#">women</a></li>
				<li><a href="#">Unisex</a></li>
				<li>
					<a href="#">about us<i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">How to order</a></li>
						<li><a href="#">Delivery</a></li>
						<li><a href="#">Payment</a></li>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Bonuses</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</li>
				<li><a href="#">blog</a></li>
				<li>
					<a href="#">support<i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">How to order</a></li>
						<li><a href="#">Delivery</a></li>
						<li><a href="#">Payment</a></li>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Bonuses</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</li>
				<li><a href="#">contact us</a></li>
			</ul>
			<a href="#" class="back"><i class="fa fa-reply" aria-hidden="true"></i>Back</a>
			<div class="mobile-contacts">
				<ul>
					<li><a href="tel:+994125057090"><i class="fa fa-phone" aria-hidden="true"></i>+994 12 505 70 90</a></li>
					<li><a href="tel:+994508906090"><i class="fa fa-whatsapp" aria-hidden="true"></i>+994 50 890 60 90</a></li>
				</ul>
			</div>
			<div class="mobile-language">
				<ul>
					<li class="active"><a href="#">Ru</a></li>
					<li><a href="#">Az</a></li>
					<li><a href="#">En</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<form action="#" method="post" class="search">
		<fieldset>
			<div class="container">
				<a href="#" class="close">close</a>
				<strong class="h1">search</strong>
				<div class="input">
					<input type="search" name="" value="" placeholder="Your Fregrance">
					<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
			</div>
		</fieldset>
	</form>
</header>
<div class="brands-panel">
	<div class="container">
		<ul class="brands-list">
			<li><a href="#"><span>all brands</span></a></li>
			<li><a href="#">#</a></li>
			<li><a href="#">0-9</a></li>
			<li><a href="#">a</a></li>
			<li><a href="#">b</a></li>
			<li><a href="#">c</a></li>
			<li><a href="#">d</a></li>
			<li><a href="#">e</a></li>
			<li><a href="#">f</a></li>
			<li>
				<a href="#">g</a>
				<div class="drop">
					<strong class="letter">G</strong>
					<ul>
						<li><a href="#">Giorgio Armani</a></li>
						<li><a href="#">Givenchy</a></li>
						<li><a href="#">Gucci</a></li>
						<li><a href="#">Guerlain</a></li>

						<li><a href="#">Giorgio Armani</a></li>
						<li><a href="#">Givenchy</a></li>
						<li><a href="#">Gucci</a></li>
						<li><a href="#">Guerlain</a></li>

						<li><a href="#">Giorgio Armani</a></li>
						<li><a href="#">Givenchy</a></li>
						<li><a href="#">Gucci</a></li>
						<li><a href="#">Guerlain</a></li>

						<li><a href="#">Giorgio Armani</a></li>
						<li><a href="#">Givenchy</a></li>
						<li><a href="#">Gucci</a></li>
						<li><a href="#">Guerlain</a></li>

						<li><a href="#">Giorgio Armani</a></li>
						<li><a href="#">Givenchy</a></li>
						<li>&nbsp;</li>
						<li class="all"><a href="#">View all<i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</li>
			<li><a href="#">h</a></li>
			<li><a href="#">i</a></li>
			<li><a href="#">j</a></li>
			<li><a href="#">k</a></li>
			<li><a href="#">l</a></li>
			<li><a href="#">m</a></li>
			<li><a href="#">n</a></li>
			<li><a href="#">o</a></li>
			<li><a href="#">p</a></li>
			<li><a href="#">q</a></li>
			<li><a href="#">r</a></li>
			<li><a href="#">s</a></li>
			<li><a href="#">t</a></li>
			<li><a href="#">u</a></li>
			<li><a href="#">v</a></li>
			<li><a href="#">w</a></li>
			<li><a href="#">x</a></li>
			<li><a href="#">y</a></li>
			<li><a href="#">z</a></li>
		</ul>
	</div>
</div>