@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@font-face {
	font-family: 'Narziss Pro AZ';
	src: url('../fonts/NarzissProAZ.eot');
	src: url('../fonts/NarzissProAZ.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NarzissProAZ.woff') format('woff'),
		url('../fonts/NarzissProAZ.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Narziss Pro AZ';
	src: url('../fonts/NarzissProAZ-Heavy.eot');
	src: url('../fonts/NarzissProAZ-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NarzissProAZ-Heavy.woff') format('woff'),
		url('../fonts/NarzissProAZ-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewHeavy-Reg.eot');
	src: url('../fonts/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaNewHeavy-Reg.woff') format('woff'),
		url('../fonts/FuturaNewHeavy-Reg.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewDemi-Reg.eot');
	src: url('../fonts/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaNewDemi-Reg.woff') format('woff'),
		url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewExtraBold-Reg.eot');
	src: url('../fonts/FuturaNewExtraBold-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaNewExtraBold-Reg.woff') format('woff'),
		url('../fonts/FuturaNewExtraBold-Reg.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url('../fonts/FuturaNewBook-Reg.eot');
	src: url('../fonts/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaNewBook-Reg.woff') format('woff'),
		url('../fonts/FuturaNewBook-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
