// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: $headings-font-family;
  font-weight: normal;
  margin: 0;
  display: block;
  color: $headings-color;
  span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding-right: 20px;
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: #c5cbd1;
      top: calc(50% - 1px);
      left: 100%;
      width: 2000px;
    }
  }
}

h1, .h1 {
  font-size: $h1-font-size;
  line-height: 38px;
  margin-bottom: 22px;
  overflow: hidden;
  font-family: $base-font-serif;
  & + .sly {margin-top: -20px;}
  sup {
    font: 15px $base-font-sans-serif;
    text-transform: none;
    padding-left: 20px;
  }
  @include media('<phone') {
    font-size: 26px;
    line-height: 31px;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 45px;
  margin-bottom: 22px;
  @include media('<tablet') {
    font-size: 34px;
    line-height: 39px;
  }
  @include media('<phone') {
    font-size: 26px;
    line-height: 31px;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  line-height: 35px;
  margin-bottom: 20px;
  @include media('<phone') {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow: hidden;
}

h5, .h5 {
  font-size: $h5-font-size;
}

h6, .h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 24px;
  a {
    border-bottom: 1px solid;
  }
}

b, strong {
  font-weight: 900;
}

a {
  color: $base-link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $red;
  }
}

.red-stripe {
  font-size: $h1-font-size;
  line-height: 38px;
  margin-bottom: 16px;
  font-family: $base-font-serif;
  border-bottom: 2px solid #c9ced4;
  padding-bottom: 10px;
  span {
    position: relative;
    padding-right: 10px;
    &:after {
      content: '';
      position: absolute;
      top: auto;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $red;
    }
  }
  @include media('<phone') {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 6px;
    span:after {bottom: -8px;}
  }
}