<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="container">
				<!-- build:section views.breadcrumbs -->
				<!-- /build -->
				<h1><span>Blogs</span></h1>
				<ul class="blog-list">
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-01.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world daft punk</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-02.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-03.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world daft punk</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-01.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-01.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world daft punk</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-02.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-03.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world daft punk</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-01.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world </strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-01.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world daft punk</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-02.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-03.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world daft punk</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="pic"><img src="images/blog/blog-01.jpg" width="" height="" alt="image description" /></div>
							<strong class="title">Title Blog in the dark sky after night walk around the world </strong>
						</a>
					</li>
				</ul>
				<!-- build:section views.pagination -->
				<!-- /build -->
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
