<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="container">
				<!-- build:section views.breadcrumbs -->
				<!-- /build -->
				<h1 class="upper"><span>perfume for women<sup>243 products</sup></span></h1>
				<aside id="sidebar">
					<!-- build:section views.filter -->
					<!-- /build -->
					<div class="ads">
						<a href="#"><img src="images/ads.jpg" width="260" height="260" alt="image description" /></a>
					</div>
				</aside>
				<section id="content">
					<div class="ads">
						<a href="#"><img src="images/ads.long.jpg" width="845" height="90" alt="image description" /></a>
					</div>
					<!-- build:section views.sort -->
					<!-- /build -->
					<!-- build:section views.product -->
					<!-- /build -->
					<!-- build:section views.pagination -->
					<!-- /build -->
				</section>
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
