<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="container">
				<!-- build:section views.breadcrumbs -->
				<!-- /build -->
				<h1><span>Contact us</span></h1>
				<aside id="sidebar">
					<nav class="side-menu">
						<ul>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Payment</a></li>
							<li><a href="#">Delivery</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Sales terms</a></li>
							<li><a href="#">How to order</a></li>
							<li class="active"><a href="#">FAQ </a></li>
						</ul>
					</nav>
					<a href="#" class="side-mobile"><span></span></a>
				</aside>
				<section id="content">
					<h3><b>Frequently Asked Questions</b></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius. Aliquam tincidunt tristique mi at porttitor. Nam non pretium mauris. Nullam et justo vestibulum, pretium leo non, tincidunt metus. Cras suscipit hendrerit felis elit vehicula vulputate vel eget nisl. Duis ipsum justo, molestie a ex id, lobortis rhoncus nisl. Vivamus et nibh in nunc mattis bibendum. Vivamus maximus, ipsum consequat dignissim faucibus, urna nibh viverra lectus, mollis dapibus velit dolor eget ligula. Praesent blandit venenatis tortor a porttitor.  A tincidunt felis blandit.</p>
					<strong class="h3"><b>Question group 1</b></strong>
					<div class="accordion">
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. </p>
								<p>Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius. Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. </p>
								<p>Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius.</p>
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius. <br>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
					</div>
					<strong class="h3"><b>Question group 2</b></strong>
					<div class="accordion">
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. </p>
								<p>Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius. Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. </p>
								<p>Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius.</p>
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
						<div class="item">
							<strong class="heading">You choose this payment methode, it takes about?</strong>
							<div class="expanded">
								<p>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis. Maecenas at ex malesuada, feugiat enim sed, consectetur mi. Aliquam tempus massa id sem aliquam, nec volutpat enim varius. <br>Dolor sit amet, consectetur adipiscing elit. Sed efficitur magna quis nulla ornare, eu tempor nisl venenatis.</p>
								<footer>Was this answer helpful? &emsp;<a href="#">Yes</a>&emsp;<a href="#">No</a></footer>
							</div>
						</div>
					</div>
					<form action="#" method="post" class="faq-form">
						<fieldset>
							<div class="two-cols">
								<div class="col">
									<div class="input">
									  <input type="text" name="name" value="" placeholder="" required="">
									  <label>Name Surname <em>*</em></label>
									</div>
									<div class="input">
									  <input type="email" name="email" value="" placeholder="" required="">
									  <label>Email <em>*</em></label>
									</div>
								</div>
								<div class="col">
									<div class="input">
									  <textarea name="" id="" cols="30" rows="4"></textarea>
									  <label>Your question <em>*</em></label>
									</div>
								</div>
							</div>
							<button class="button upper">send</button>
						</fieldset>
					</form>
				</section>
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
