<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<div id="promo">
			<a href="#" class="fa fa-angle-left" aria-hidden="true"></a>
			<a href="#" class="fa fa-angle-right" aria-hidden="true"></a>
			<ul>
				<li data-img-big="images/promo/img01.jpg" data-img-small="http://aromania.az/images/slider/m28_1.png" style="background-color: #e3e4ea;"><a href="#"><img src="images/promo/img01.jpg" width="1400" height="500" alt="image description" /></a></li>
				<li data-img-big="images/promo/img02.jpg" data-img-small="http://aromania.az/images/slider/m28_1.png" style="background-color: rgb(41, 91, 106);"><a href="#"><img src="images/promo/img02.jpg" width="1400" height="500" alt="image description" /></a></li>
				<li data-img-big="images/promo/img03.jpg" data-img-small="http://aromania.az/images/slider/m28_1.png" style="background-color: rgb(252, 224, 218);"><a href="#"><img src="images/promo/img03.jpg" width="1400" height="500" alt="image description" /></a></li>
			</ul>
		</div>
		<main id="main">
			<div class="container">
				<div class="large">
					<strong class="h1">Top perfumes</strong>
					<div class="sly">
						<div class="controls">
							<a href="#" class="fa fa-angle-left" aria-hidden="true"></a>
							<a href="#" class="fa fa-angle-right" aria-hidden="true"></a>
						</div>
						<div class="sly-holder">
							<!-- build:section views.product -->
							<!-- /build -->
						</div>
					</div>
				</div>
				<div class="small">
					<strong class="h1">Todays offer</strong>
					<div class="product-list">
						<div class="item offer">
							<div data-text="Sale of the day" data-date="2017,1,29" class="countdown"></div>
							<a href="#" class="visual"><img src="images/product/img04.jpg" width="220" height="293" alt="image description" /></a>
							<strong class="name"><a href="#">Dolce &amp; Gabbana Cool Water</a></strong>
							<strong class="price">56</strong>
							<select class="rating" data-readOnly="true">
								<option value="1">1</option>
								<option value="2">2</option>
								<option selected value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<a class="count-reviews" href="#">24 reviews</a>
							<footer>
								<a href="#" class="favorite-button fa fa-heart-o" aria-hidden="true"></a>
								<a href="#" class="button upper">BUY</a>
							</footer>
						</div>
					</div>
				</div>
			</div>
			<div class="gray-block date-block">				
				<div class="container">
					<div class="big-pic"><img src="images/content/img-01.jpg" width="" height="" alt="image description" /></div>
					<strong class="h1">“Date” perfumes before “marrying” them</strong>
					<ul class="date-list">
						<li>
							<div class="ico tower">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-eiffel-tower"></use></svg>
							</div>
							<strong class="title">100% original</strong>
							<p>We partner directly with top brands wholesalers and only sell 100% authentic fragrances</p>
						</li>
						<li>
							<div class="ico flakon">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-flakon"></use></svg>
							</div>
							<strong class="title">A SCENT EACH MONTH</strong>
							<p>We partner directly with top brands wholesalers and only sell 100% authentic fragrances</p>
						</li>
						<li>
							<div class="ico money">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-money"></use></svg>
							</div>
							<strong class="title">Save Money</strong>
							<p>We partner directly with top brands wholesalers and only sell 100% authentic fragrances</p>
						</li>
						<li>
							<div class="ico truck">
								<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="#icon-delivery-truck"></use></svg>
							</div>
							<strong class="title">Free delivery</strong>
							<p>We partner directly with top brands wholesalers and only sell 100% authentic fragrances</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<ul class="brand-list">
					<li><a href="#"><img src="images/brands/brand-01.jpg" width="" height="" alt="image description" /></a></li>
					<li><a href="#"><img src="images/brands/brand-02.jpg" width="" height="" alt="image description" /></a></li>
					<li><a href="#"><img src="images/brands/brand-03.jpg" width="" height="" alt="image description" /></a></li>
					<li><a href="#"><img src="images/brands/brand-04.jpg" width="" height="" alt="image description" /></a></li>
					<li><a href="#"><img src="images/brands/brand-05.jpg" width="" height="" alt="image description" /></a></li>
					<li><a href="#"><img src="images/brands/brand-06.jpg" width="" height="" alt="image description" /></a></li>
					<li class="show-all"><a href="#">457&nbsp;brands <b>Learn&nbsp;more</b></a></li>
				</ul>
				<strong class="h1">Perfume blog</strong>
				<div class="sly">
					<div class="controls">
						<a href="#" class="fa fa-angle-left" aria-hidden="true"></a>
						<a href="#" class="fa fa-angle-right" aria-hidden="true"></a>
					</div>
					<div class="sly-holder">
						<!-- build:section views.blog -->
						<!-- /build -->
					</div>
				</div>
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
