<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="container">
				<!-- build:section views.breadcrumbs -->
				<!-- /build -->
				<h1><span>404 page</span></h1>
				<div class="block-404">
					<div class="pic"><img src="images/page-404.png" width="" height="" alt="image description" /></div>
					<div class="frame">
						<strong class="title">Sorry we could not find the&nbsp;page you search</strong>
						<span>Maybe you can find it from the links below:</span>
						<nav>
							<ul>
								<li><a href="#">men</a></li>
								<li><a href="#">women</a></li>
								<li><a href="#">Unisex</a></li>
								<li><a href="#">Brands</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
