<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main">
			<div class="container">
				<!-- build:section views.breadcrumbs -->
				<!-- /build -->
				<h1><span>Dolce Gabbana Cool Water</span></h1>
				<div class="product">
					<div class="photo">
						<ul data-popup="on" data-href="_inc/gallery.html" class="big-photo">
							<li><img src="images/product/img05.jpg" width="360" height="506" alt="image description" /></li>
							<li><img src="images/product/img02.jpg" width="360" height="506" alt="image description" /></li>
							<li><img src="images/product/img03.jpg" width="360" height="506" alt="image description" /></li>
							<li><img src="images/product/img04.jpg" width="360" height="506" alt="image description" /></li>
						</ul>
						<ul class="preview">
							<li><a href="#"><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></a></li>
							<li><a href="#"><img src="images/product/img02.jpg" width="220" height="293" alt="image description" /></a></li>
							<li><a href="#"><img src="images/product/img03.jpg" width="220" height="293" alt="image description" /></a></li>
							<li data-popup="on" data-href="_inc/gallery.html" class="video"><a href="#"><i class="fa fa-play-circle-o" aria-hidden="true"></i><img src="images/product/img04.jpg" width="220" height="293" alt="image description" /></a></li>
						</ul>
					</div>
					<div class="info">
						<div class="line">
							<a href="#" class="brand-logo"><img src="images/brand-logo.jpg" width="130" height="33" alt="image description" /></a>
							<a href="#" class="add"><i class="fa fa-heart" aria-hidden="true"></i>Add to wishlist</a>
							<div class="rating-holder">
								<select class="rating" data-readOnly="true">
									<option value="1">1</option>
									<option value="2">2</option>
									<option selected value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<a class="count-reviews" href="#">24 reviews</a>
							</div>
							<span class="id">ID <strong>9961234</strong></span>
						</div>
						<span class="brand-name">VICTORIA'S SECRET</span>
						<strong class="name">Bombshell Eau de Parfum</strong>
						<table class="assortment">
							<tr class="attraction">
								<td><img src="images/tester.jpg" width="23" height="53" alt="image description" /></td>
								<td>1.7 Fl Oz <span class="separator">/</span> 8 ml</td>
								<td>
									<div class="price-holder">
										<span class="discount">-15%</span>
										<span class="old">460</span>
										<strong class="price">358</strong>
									</div>
								</td>
								<td>
									<div class="number">
										<input type="text" name="" value="1" maxlength="2" placeholder="">
										<a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
										<a href="#" class="fa fa-angle-down" aria-hidden="true"></a>
									</div>
								</td>
								<td><a href="#" class="button upper">BUY</a></td>
							</tr>
							<tr>
								<td><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></td>
								<td>1.7 Fl Oz <span class="separator">/</span> 30 ml</td>
								<td>
									<div class="price-holder">
										<span class="discount">-15%</span>
										<span class="old">460</span>
										<strong class="price">358</strong>
									</div>
								</td>
								<td>
									<div class="number">
										<input type="text" name="" value="1" maxlength="2" placeholder="">
										<a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
										<a href="#" class="fa fa-angle-down" aria-hidden="true"></a>
									</div>
								</td>
								<td><a href="#" class="button upper">BUY</a></td>
							</tr>
							<tr>
								<td><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></td>
								<td>1.7 Fl Oz <span class="separator">/</span> 50 ml</td>
								<td>
									<div class="price-holder">
										<span class="discount">-15%</span>
										<span class="old">460</span>
										<strong class="price">358</strong>
									</div>
								</td>
								<td>
									<div class="number">
										<input type="text" name="" value="1" maxlength="2" placeholder="">
										<a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
										<a href="#" class="fa fa-angle-down" aria-hidden="true"></a>
									</div>
								</td>
								<td><a href="#" class="button upper">BUY</a></td>
							</tr>
							<tr>
								<td><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></td>
								<td>1.7 Fl Oz <span class="separator">/</span> 75 ml</td>
								<td>
									<div class="price-holder">
										<span class="discount">-15%</span>
										<span class="old">460</span>
										<strong class="price">358</strong>
									</div>
								</td>
								<td>
									<div class="number">
										<input type="text" name="" value="1" maxlength="2" placeholder="">
										<a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
										<a href="#" class="fa fa-angle-down" aria-hidden="true"></a>
									</div>
								</td>
								<td><a href="#" class="button upper">BUY</a></td>
							</tr>
							<tr>
								<td><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></td>
								<td>1.7 Fl Oz <span class="separator">/</span> 100 ml</td>
								<td>
									<div class="price-holder">
										<span class="discount">-15%</span>
										<span class="old">460</span>
										<strong class="price">358</strong>
									</div>
								</td>
								<td>
									<div class="number">
										<input type="text" name="" value="1" maxlength="2" placeholder="">
										<a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
										<a href="#" class="fa fa-angle-down" aria-hidden="true"></a>
									</div>
								</td>
								<td><a href="#" class="button upper">BUY</a></td>
							</tr>
							<tr>
								<td><img src="images/product/img01.jpg" width="220" height="293" alt="image description" /></td>
								<td>1.7 Fl Oz <span class="separator">/</span> 100 ml TESTER</td>
								<td>
									<div class="price-holder">
										<span class="discount">-15%</span>
										<span class="old">460</span>
										<strong class="price">358</strong>
									</div>
								</td>
								<td>
									<div class="number">
										<input type="text" name="" value="1" maxlength="2" placeholder="">
										<a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
										<a href="#" class="fa fa-angle-down" aria-hidden="true"></a>
									</div>
								</td>
								<td><a href="#" class="button upper">BUY</a></td>
							</tr>
						</table>
						<div class="clearfix">
							<div class="share">
								<span>Share on social set</span>
								<ul class="social-list">
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-instagram"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-google"></a></li>
								</ul>
							</div>
							<form action="#" method="post" class="quick-order">
								<fieldset>
									<label>Order by one click</label>
									<input type="text" class="tel-number to-left" placeholder="+994 (__) ___ - __ - __">
									<button class="button red" type="submit">Order</button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<strong class="h2 red-stripe"><span>Creed Aventus Features</span></strong>
				<div class="clearfix">
					<dl class="details-info">
						<dt>Type of perfume:</dt>
							<dd>Eau de Perfume (EDP)</dd>
						<dt>Gender:</dt>
							<dd><a href="#">For man</a></dd>
						<dt>Classification:</dt>
							<dd><a href="#">Citrus</a></dd>
						<dt>Destination:</dt>
							<dd><a href="#">Modern</a></dd>
						<dt>Brand:</dt>
							<dd><a href="#">Dolce Gabbana</a></dd>
						<dt>Brand country:</dt>
							<dd><a href="#">Italy</a></dd>
						<dt>Year:</dt>
							<dd><a href="#">2016</a></dd>
					</dl>
					<div class="about-prod">
						<div class="author">
							<div class="visual"><img src="images/perfumer.jpg" width="83" height="83" alt="image description" /></div>
							<strong class="title"><a href="#">Jerar Depardie</a></strong>
							<span>perfumer</span>
						</div>
						<div class="frame">
							<p>Experiencing Dark Aoud by Montale in its initial stages is akin to walking into a pitch-black room. Just as it takes a while for your eyes to adjust in order to discern the shapes, sizes, and nuances of the objects initially hidden in darkness, so too does it take time to realize that Dark Oud is more than a linear oud.</p>
							<p>A minimalist exploration of two powerful accords — oud and sandalwood — Dark Aoud starts out with the smoky, camphoraceous, medicinal aspect of oud on display, accompanied.</p>
						</div>
					</div>
				</div>
				<div class="vote-holder">
					<div class="vote think">
						<h4><span><i class="fa fa-heart" aria-hidden="true"></i>What do you think <i class="fa fa-chevron-right"></i></span></h4>
						<dl>
							<dt><span>I love it</span><span class="count">9</span></dt>
							<dd>
								<div class="progress"><span style="width: 35%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>I like it</span><span class="count">2</span></dt>
							<dd>
								<div class="progress"><span style="width: 10%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Good</span><span class="count">23</span></dt>
							<dd>
								<div class="progress"><span style="width: 75%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Bad</span><span class="count">7</span></dt>
							<dd>
								<div class="progress"><span style="width: 25%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
						</dl>
					</div>
					<div class="vote long">
						<h4><span><i class="fa fa-hourglass" aria-hidden="true"></i>Feels on distance <i class="fa fa-chevron-right"></i></span></h4>
						<dl>
							<dt><span>Low <i>0,5-1 h</i></span><span class="count">9</span></dt>
							<dd>
								<div class="progress"><span style="width: 35%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Medium <i>0,5-1 h</i></span><span class="count">2</span></dt>
							<dd>
								<div class="progress"><span style="width: 10%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>High <i>0,5-1 h</i></span><span class="count">23</span></dt>
							<dd>
								<div class="progress"><span style="width: 75%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Maximum <i>0,5-1 h</i></span><span class="count">7</span></dt>
							<dd>
								<div class="progress"><span style="width: 25%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Super natural <i>0,5-1 h</i></span><span class="count">177</span></dt>
							<dd>
								<div class="progress"><span style="width: 100%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
						</dl>
					</div>
					<div class="vote distance">
						<h4><span><i class="fa fa-envira" aria-hidden="true"></i>Feels on distance <i class="fa fa-chevron-right"></i></span></h4>
						<dl>
							<dt><span>Low <i>0,5-1 h</i></span><span class="count">9</span></dt>
							<dd>
								<div class="progress"><span style="width: 35%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Medium <i>0,5-1 h</i></span><span class="count">2</span></dt>
							<dd>
								<div class="progress"><span style="width: 10%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>High <i>0,5-1 h</i></span><span class="count">23</span></dt>
							<dd>
								<div class="progress"><span style="width: 75%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Maximum <i>0,5-1 h</i></span><span class="count">7</span></dt>
							<dd>
								<div class="progress"><span style="width: 25%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Super natural <i>0,5-1 h</i></span><span class="count">177</span></dt>
							<dd>
								<div class="progress"><span style="width: 100%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
						</dl>
					</div>
					<div class="vote age">
						<h4><span><i class="fa fa-user" aria-hidden="true"></i>for what age <i class="fa fa-chevron-right"></i></span></h4>
						<dl>
							<dt><span>Till 18</span><span class="count">9</span></dt>
							<dd>
								<div class="progress"><span style="width: 35%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>18–28</span><span class="count">2</span></dt>
							<dd>
								<div class="progress"><span style="width: 10%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>29–38</span><span class="count">23</span></dt>
							<dd>
								<div class="progress"><span style="width: 75%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>38–50</span><span class="count">7</span></dt>
							<dd>
								<div class="progress"><span style="width: 25%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>From 50</span><span class="count">999</span></dt>
							<dd>
								<div class="progress"><span style="width: 100%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
						</dl>
					</div>
					<div class="vote season">
						<h4><span><i class="fa fa-calendar" aria-hidden="true"></i>what season is for <i class="fa fa-chevron-right"></i></span></h4>
						<dl>
							<dt><span>Winter</span><span class="count">9</span></dt>
							<dd>
								<div class="progress"><span style="width: 35%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Spring</span><span class="count">2</span></dt>
							<dd>
								<div class="progress"><span style="width: 10%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Summer</span><span class="count">23</span></dt>
							<dd>
								<div class="progress"><span style="width: 75%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Autumn</span><span class="count">7</span></dt>
							<dd>
								<div class="progress"><span style="width: 25%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
						</dl>
					</div>
					<div class="vote time">
						<h4><span><i class="fa fa-clock-o" aria-hidden="true"></i>Time of day <i class="fa fa-chevron-right"></i></span></h4>
						<dl>
							<dt><span>Day</span><span class="count">9</span></dt>
							<dd>
								<div class="progress"><span style="width: 35%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
							<dt><span>Night</span><span class="count">2</span></dt>
							<dd>
								<div class="progress"><span style="width: 10%;"></span></div>
								<a href="#" class="plus">+</a>
							</dd>
						</dl>
					</div>
				</div>
				<strong class="h2 red-stripe"><span>Creed Aventus Notes</span></strong>
				<div class="note">
					<div class="item">
						<h4>Top notes</h4>
						<ul>
							<li>
								<a href="#">
									<img src="images/note/note-01.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-02.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-03.jpg" width="" height="" alt="image description" />
									<span>Bergamot</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-01.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-02.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-03.jpg" width="" height="" alt="image description" />
									<span>Bergamot</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="item">
						<h4>heart notes</h4>
						<ul>
							<li>
								<a href="#">
									<img src="images/note/note-01.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-02.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-03.jpg" width="" height="" alt="image description" />
									<span>Bergamot</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-01.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-02.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-03.jpg" width="" height="" alt="image description" />
									<span>Bergamot</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="item">
						<h4>Basic notes</h4>
						<ul>
							<li>
								<a href="#">
									<img src="images/note/note-01.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-02.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-03.jpg" width="" height="" alt="image description" />
									<span>Bergamot</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-01.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-02.jpg" width="" height="" alt="image description" />
									<span>Floral</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/note/note-03.jpg" width="" height="" alt="image description" />
									<span>Bergamot</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<strong class="h1">If you like <b>Dark Aoud Eau de Parfum,</b> we recommend you try:</strong>
				<div class="sly">
					<div class="controls">
						<a href="#" class="fa fa-angle-left" aria-hidden="true"></a>
						<a href="#" class="fa fa-angle-right" aria-hidden="true"></a>
					</div>
					<div class="sly-holder">
						<!-- build:section views.product -->
						<!-- /build -->
					</div>
				</div>
				<div class="review-head">
					<strong class="h1">Review for <b>Dark Aoud</b></strong>
					<a data-popup="on" href="_inc/review.html" class="button red fa fa-pencil">Write Review</a>
				</div>
				<ul class="reviews size-medium">
					<li>
						<select class="rating" data-readOnly="true">
							<option value="1">1</option>
							<option value="2">2</option>
							<option selected value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="review-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet.</p>
						</div>
						<span class="author"><b>Name Surname</b> 11 october  2015</span>
					</li>
					<li>
						<select class="rating" data-readOnly="true">
							<option value="1">1</option>
							<option value="2">2</option>
							<option selected value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="review-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet.</p>
						</div>
						<span class="author"><b>Name Surname</b> 11 october  2015</span>
					</li>
					<li>
						<select class="rating" data-readOnly="true">
							<option value="1">1</option>
							<option value="2">2</option>
							<option selected value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="review-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet.</p>
						</div>
						<span class="author"><b>Name Surname</b> 11 october  2015</span>
					</li>
					<li>
						<select class="rating" data-readOnly="true">
							<option value="1">1</option>
							<option value="2">2</option>
							<option selected value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
						<div class="review-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsum amet, consectetur adipiscing consectetur adipiscing elLorem ipsum dolor sit amet, consectetur adipiscing elitorem ipsumLorem ipsum dolor sit amet.</p>
						</div>
						<span class="author"><b>Name Surname</b> 11 october  2015</span>
					</li>
				</ul>
				<strong class="h1">Recently viewed</strong>
				<div class="sly">
					<div class="controls">
						<a href="#" class="fa fa-angle-left" aria-hidden="true"></a>
						<a href="#" class="fa fa-angle-right" aria-hidden="true"></a>
					</div>
					<div class="sly-holder">
						<!-- build:section views.product -->
						<!-- /build -->
					</div>
				</div>
			</div>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
