<!DOCTYPE html>
<html>
<!-- build:section layout.head -->
<!-- /build -->
<body>
	<div id="svg-icon-placeholder" style="display: none;"></div>
	<div id="wrapper">
		<!-- build:section layout.header -->
		<!-- /build -->
		<main id="main" class="container">
			<h1>Lorem ipsrum Dolor</h1>
			<h1><b>Lorem ipsrum Dolor</b></h1>
			<br>
			<h2>Lorem ipsrum Dolor</h2>
			<h2><b>Lorem ipsrum Dolor</b></h2>
			<br>
			<h3>Lorem ipsrum Dolor</h3>
			<h3><b>Lorem ipsrum Dolor</b></h3>
			<br>
			<strong class="h1">Body 1 <span class="gray">18/24</span></strong>
			<p>Who enable olor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			<p><b>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</b> </p>
			<br>
			<strong class="h1">Body 2 <span class="gray">15/22</span></strong>
			<div class="size-medium">
				<p>Who enable olor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p><b>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</b> </p>
			</div>
			<br>
			<strong class="h1">Body 3 <span class="gray">12/15</span></strong>
			<div class="size-small">
				<p>Who enable olor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<p><b>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</b> </p>
			</div>
			<div class="multi-cols">
				<a href="#" class="button">save</a>
				<a href="#" class="button social btn-facebook">Facebook</a>
				<a href="#" class="button social btn-google">Google +</a>
				<a href="#" class="button back-to">Back to shopping</a>
				<a href="#" class="button"></a>
			</div>
			<br>
			<select id="temp-sel">
				<option value=""></option>
				<option value="baku">Baku</option>
				<option value="tbilisi">Tbilisi</option>
				<option value="tel">Tel Aviv</option>
				<option value="moscow">Moscow</option>
			</select>
			<div class="input">
				<input type="text" id="subject" name="subject" required>
				<label for="subject">Name Surname <em>*</em></label>
			</div>
			<a data-popup="on" href="_inc/notification.html" class="button">Notification</a>
			<br><br>
			<a data-popup="on" href="_inc/error.html" class="button">Eror Notification</a>
			<br><br>
			<a data-popup="on" href="_inc/succesful.html" class="button">Succesful notification</a>
			<br><br>
			<a data-popup="on" href="_inc/before.html" class="button">Before Basket</a>
			<br><br>
		</main>
		<!-- build:section layout.footer -->
		<!-- /build -->
	</div>
</body>
</html>
